{% extends 'base.html.twig' %}

{% block title %}Mes menus{% endblock %}

{% block body %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Menus</h1>
    <p class="lead">Voici la page des menus !</p>
  </div>
</div>



    
{% endblock %}