{% extends 'base.html.twig' %}

{% block title %}Mes tâches{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Taches</h1>
    <p class="lead">Voici la page des taches !</p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Lessives
  </div>
  <div class="card-body">
    <h5 class="card-title">Lessives du bébé</h5>
    <p class="card-text">Pense à laver les vêtements du bébé !</p>
    <a href="#" class="btn btn-primary">Fiche de la tâche</a>
  </div>
</div>


    
{% endblock %}